* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: darkseagreen;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: (100vh - 40px);
  width: 100vw;
  display: flex;
  padding: 20px;
  letter-spacing: 2px;
}

#root {
  height: calc(100% - 60px);
  width: calc(100% - 40px);
}
